/*! Human readable SCSS in css/style.scss */

@import 'reset';

/* ------------ */
/* COLORS */
/* ------------ */

$black: #000000;


/* ------------ */
/* TYPOGRAPHY */
/* ------------ */

h1 {
  font-size: 51px;
  line-height: 72px;
  margin-bottom: 24px;
}

h2 {
  font-size: 28px;
  line-height: 48px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
}

p {
  margin-bottom: 24px;
}

body {
  font: 16px/24px "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  background: #ffffff url('http://basehold.it/i/24');
}

.small, small {
  @extend %small;
}

%small {
  font-size: 13px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover { text-decoration: underline; }


/* ------------ */
/* LAYOUT */
/* ------------ */

// Desktop.
.container {
  width: 896px;
  padding: 0px 48px;
  margin: 0px auto;
}

header {

}

#main {

}

footer {

}

// Tablet.
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .container {
    width: 712px;
    padding: 0px 28px;
  }

}

// Portrait mobile.
@media only screen and (max-width: 767px) {

  .container {
    width: 252px;
    padding: 0px 34px;
  }

}

// Landscape mobile.
@media only screen and (min-width: 480px) and (max-width: 767px) {

  .container {
    width: 436px;
    padding: 0px 22px;
  }

}

/* ------------ */
/* OBJECTS */
/* ------------ */

.button,
%button {

}

%replace {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

%clearfix {
  zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: ""; display: table;
    clear: both;
  }
}
