/* reset */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
html {font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
strong {font-weight:bold;}
ul {list-style:none;}
label {cursor:pointer;}
button,input[type="button"],input[type="submit"]{cursor:pointer;}

/* colors
black: #000000;
dark: #333333;
light: #ececec;
white: #ffffff;
*/

/* typography */

h1 {
  font-size: 51px;
  line-height: 72px;
  margin-bottom: 24px;
}

h2 {
  font-size: 28px;
  line-height: 48px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
}

p {
  margin-bottom: 24px;
}

body {
  font: 16px/24px "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  background: #ffffff url('http://basehold.it/i/24');
}

.small,
small {
  font-size: 13px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* objects */

.container {
  width: 896px;
  padding: 0px 48px;
  margin: 0px auto;
}

header {

}

#main {

}

footer {

}

.button {

}

.replace {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* media queries */

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .container {
    width: 712px;
    padding: 0px 28px;
  }

}

/* portrait mobile */
@media only screen and (max-width: 767px) {

  .container {
    width: 252px;
    padding: 0px 34px;
  }

}

/* landscape mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  .container {
    width: 436px;
    padding: 0px 22px;
  }

}
